/* Add styling for your page here */

.App {
  padding: 1em; 
  background-color: #f8f7f7;
}

.bakeryItem {
  background-color: gray;
  color: gray;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form {
  margin-right: 3em;
  margin-left: 3em;
}

.reset-button {
  margin-bottom: 1.5em;
  margin-right: 3em;
  margin-top: 1em;
  background-color: #eedf7a;
  border: none;
  color: rgb(28, 36, 102);
  padding: 10px;
  font-size: 6em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}

.reset-button:hover {
  background-color:#ababac;
  transition: 0.25s;
}

.drop-button {
  width: 100%;
  border: 0.1em black; 
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.drop-button:hover {
  background-color:#ababac;
  transition: 0.25s;
}

.dropdown {
  margin-right: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.lineup-form {
  margin-left: 0rem; 
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

#fav-form {
  margin-top: 0em; 
  margin-right: 0em;
}

#fav-title {
  margin-bottom: 0.4em; 
  margin-right: 3em;
}

#position-form {
  margin-top: 0.8em;
  margin-right: 5em;
}

#nav {
  background: rgb(61, 73, 99) ;
  color: white;
}

#title {
  position: relative;
  left: 30%;
  color:rgb(12, 28, 94);
  padding: 0.25em;
}