/* Add styling for your page here */

.App {
  margin: 1em; 
}

.bakeryItem {
  background-color: gray;
  color: gray;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form {
  margin-right: 3em;
  margin-left: 3em;
}

.button {
  margin-right: 3em;
}

.drop-button {
  width: 100%; 
}